body {
  overflow-x: hidden;
  font-family: 'Sarabun', sans-serif !important;
}



#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

table {
  width: 100%;
  margin-bottom: 0 !important;
}


.card-index {
	box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 
				0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 
				0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 
				0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0.05rem;
    transition: all .2s;
}

.card-header {
  display:flex;
}